In [1]:
import re
from tqdm import tqdm
import numpy as np
import pandas as pd

### Finding the pairs

In [2]:
with open('big.txt','r') as fd:
    lines=fd.readlines()
    
    words=[]
    for line in lines:
        words+=re.findall('\w+',line.lower())
def get_pairs(words,n):
    n=n+1
    data=[]
    for i in range(len(words)-n):
        data.append(' '.join(words[i:i+n]))
    return data

### Finding the Probability Distribution

In [3]:
def get_prob_dist(data):
    a=np.array(data)
    pair,count=np.unique(a,return_counts=True)

    unique_pairs=list(set(data))

    prob_dist=[]
    for i in range(len(unique_pairs)):
        prob_dist.append([unique_pairs[i],' '.join(unique_pairs[i].split(' ')[:-1]),unique_pairs[i].split(' ')[-1],count[i]])

    return prob_dist

In [4]:
data=get_pairs(words,4)
prob_dist=get_prob_dist(data)

In [5]:
prob_dist[:10]

[['resist looking at him so', 'resist looking at him', 'so', 1],
 ['to come to his gathering', 'to come to his', 'gathering', 1],
 ['sonya did not pull it', 'sonya did not pull', 'it', 1],
 ['the bridge with a triumphant', 'the bridge with a', 'triumphant', 1],
 ['michael ivanovich i know all', 'michael ivanovich i know', 'all', 1],
 ['discharge comparative cluster propose obstacle',
  'discharge comparative cluster propose',
  'obstacle',
  1],
 ['or bay their necks with', 'or bay their necks', 'with', 1],
 ['here for he rose and', 'here for he rose', 'and', 1],
 ['obliged to have recourse to', 'obliged to have recourse', 'to', 1],
 ['of 437 438 changes in', 'of 437 438 changes', 'in', 1]]

### Make The DataFrame

In [6]:
df=pd.DataFrame(prob_dist,columns=['seq','inp','out','freq'])
# df=df[df['freq']>=5]
df.head()

                            seq                       inp         out  freq
0      resist looking at him so     resist looking at him          so     1
1      to come to his gathering            to come to his   gathering     1
2         sonya did not pull it        sonya did not pull          it     1
3  the bridge with a triumphant         the bridge with a  triumphant     1
4  michael ivanovich i know all  michael ivanovich i know         all     1

### Predicting the word

In [7]:
def predict(word):

    if len(df[df['inp']==word]):
        df_=df[df['inp']==word]
        return df_.sort_values(by='freq').head()['out'].values
    else:
        return 'seq not present'

In [8]:
predict('complaining of lassitude incapacity')

array(['for'], dtype=object)

In [9]:
predict('this')

'seq not present'

## Next Word Prediction - Auto Generated

In [14]:
def pred_seq(seq,n):
    output=[]
    output.append(seq)

    for i in range(n):

        pred=predict(seq)
    #     print(pred[0],end=' ')

        seq=' '.join(seq.split(' ')[1:])+' '+pred[0]
        output.append(pred[0])

    return ' '.join(output)

In [20]:
pred_seq('of the united states',50)

'of the united states incurred in the revolutionary war a debt which those of little faith thought the country could never pay was reckoned at a figure well under 75 000 000 when the union pacific railroad was completed there were outstanding against it 27 000 000 in second mortgage bonds held by the'

In [18]:
df.sort_values(by='freq',ascending=False)

,seq,inp,out,freq
450975,fracture of the bone beneath,fracture of the bone,beneath,38
451986,management and only one fourth,management and only one,fourth,38
701067,meeting he was struck for,meeting he was struck,for,36
893586,of his own it was,of his own it,was,32
627289,the other so thick with,the other so thick,with,31
...,...,...,...,...
365913,logical inevitable result of the,logical inevitable result of,the,1
365914,they listen intently look about,they listen intently look,about,1
365915,cousin at moscow concerning dolokhov,cousin at moscow concerning,dolokhov,1
365916,one stone to appease the,one stone to appease,the,1
1089073,battery this was the attack,battery this was the,attack,1

In [19]:
df.groupby('inp').size().sort_values()

inp
0 05 grm novarsenbillon           1
rectangular flap of skin          1
rectified spirit one ounce        1
rectified spirit the painting     1
rectify a mistake he              1
                                 ..
for a long time                  61
met with in the                  62
as a result of                   65
at the same time                 65
of the united states             81
Length: 1032699, dtype: int64